*{
    font-family: 'Courier New';
}

h3{
    color: purple;
}
h1{
    color: #b92b27;
}

#login{
    background-color: #ffffff;
}

#signup{
    background-color: #b92b27;
    color: white;
}

.upvote{
    background-color: green;
    color: white;
}

p a{
    color: purple;
    background-color: yellow;
}

#login{
    background-color: #ffffff;
}

#signup{
    background-color: #b92b27;
    color: white;
}

.upvote{
    background-color: green;
    color: white;
}

p a{
    color: purple;
    background-color: yellow;
}



p a{
    color: purple;
    background-color: yellow;
}

#login{
    background-color: #ffffff;
}

p+h3{
    text-decoration: underline;
}

.upvote + button{
    background-color: aqua;
    
}


div > input{
    background-color: darksalmon;
}


input[type="text"]{
    color: blueviolet;

}
input[type="password"]{
    color: green;
}
input[type]{
    background-color: ghostwhite;
}


button:hover{
    background-color: black;
    color: white;
}


h3:hover{
    text-decoration: none;
    animation-duration: 0.5s;
}


h1::first-letter{
    color: black;
}

p::selection{
    background-color: palegreen;
}