*{
    margin: 0;
    padding: 0;
}

.main_box {
    background: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}

.btn_one {
    color: aliceblue;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
}


.sidebar_menu {
    position: fixed;
    /*left: -350px;*/
    height: 100vh;
    width: 300px;
    background-color: antiquewhite,0.1;
}